.habilidades .container-habilidades {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.habilidades .container-habilidades .habilidade {
    max-width: 350px;
    padding: 40px 20px;

}

.habilidades .container-habilidades .habilidade h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.habilidades .container-habilidades .habilidade p {
    font-size: 18px;
}

.habilidades .container-habilidades .habilidade i {
    font-size: 80px;
    transition: transform 0.3s ease-in-out;
}
